.container {
    display:block;
    justify-content:center;
    align-items:center;
}

.form-container {
    display:flex;
    justify-content:center;
    align-items:center;
}

img {
    width: 50%;
}

a {
    display: block;
}

input {
    display: block;

}
